<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <title>Deddit</title>
</head>
<nav class="navbar">
 <div class="tituls">
    <h2>Node.js</h2>
 </div>
    <div class="username-pic">
       <img src="https://res.cloudinary.com/dweiaqd6l/image/upload/v1663791923/imagen_2022-09-21_172521344_pnjfey.png" alt=""> 
       <p><strong><%= publicacion.username %></strong></p>
       <i class="fa-solid fa-chevron-down"></i>
    </div>
</nav>

    <body>
        <div class="container-details">
            <% if(error) { %>
                <p>
                    <%= message %> 
                </p>
            <% } %>
           
        
        <% if (!error) { %>


            <div class="create-post">
                <form id="formEdit" data-id="<%= publicacion.id %>" action="/" class="form-good"
                method="POST"> 
                    <img src="https://res.cloudinary.com/dweiaqd6l/image/upload/v1663791923/imagen_2022-09-21_172521344_pnjfey.png" alt="">
                    <input type="text"class="form-c"
                    name="titulo" value="<%= publicacion.titulo %>"
                    id="tituloInput">
                    <input type="text" class="form-c"
                    name="descripcion" value="<%= publicacion.descripcion %>"
                    id="descripcionInput">
                    <input type="text" class="form-c"
                    name="username" value="<%= publicacion.username %>"
                    id="usernameInput">
                    <div class="buttons">
                    <button class="btnEdit">Update</button>
                    <button id="btnDelete" data-id="<%= publicacion.id %>">Delete</button>
                   </div>
                </form>
            </div>
        <% } %>
        <button><a href="/">Return to Home</a></button>
        
</div>
<%- include("template/footer") %>  
<!-- *Method = POST to use router.post -->



<script>

// Delete logic
    const btnDelete = document.querySelector("#btnDelete")

    btnDelete.addEventListener('click', async() =>{
        const id = btnDelete.dataset.id 
    try {
        const data = await fetch(`/${btnDelete.dataset.id}`, {
          method: 'delete'
        })
        const res = await data.json()
        console.log(res)
        if(res.state){
            window.location.href = '/'
        }else{
            console.log(res)
        }
    } catch (error) {
        console.log(error)
    }
  })

  //Capture formEdit
  const formEdit = document.querySelector('#formEdit')

  formEdit.addEventListener('submit', async(e) => {
    e.preventDefault() //Prevent refreshing

    const titulo = document.querySelector('#tituloInput').value
    const descripcion = document.querySelector('#descripcionInput').value
    const id = formEdit.dataset.id

    try{
        const data = await fetch(`/${id}`, {
            method: 'put',
            headers:{
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({titulo: titulo, descripcion: descripcion})
        })
        const res = await data.json()
        
        if(res.state){
            window.location.href = '/'
        } else {
            console.log(res)
        }
    } catch(error){
        console.log(error)
    }

  })
</script>