<%- include("template/cabecera" , {tituloWeb: 'Detalle de publicacion'})  %>  

    <body>
        <div class="container-details">
            <h1>Detalles</h1>
            <% if(error) { %>
                <p>
                    <%= message %> 
                </p>
            <% } %>
           
        
        <% if (!error) { %>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Description</th>
                    <th>Accion</th>
                </tr>
                 </thead>
                   <tbody>
                           <tr>
                               <td><%= publicacion.id %></td>
                               <td><%= publicacion.titulo %></td>
                               <td><%= publicacion.descripcion %></td>
                               <td><button 
                                id="btnDelete"
                                data-id="<%= publicacion.id %>">Delete</button></td>
                           </tr>
                       </tbody>
            </table>
        <% } %>
        <a href="/publicacion">Return to Home</a>
</div>
<%- include("template/footer") %>  
<!-- *Method = POST to use router.post -->
<script>

// Delete logic
    const btnDelete = document.querySelector("#btnDelete")

    btnDelete.addEventListener('click', async() =>{
        const id = btnDelete.dataset.id 
    try {
        const data = await fetch(`/publicacion/${btnDelete.dataset.id}`, {
          method: 'delete'
        })
        const res = await data.json()
        console.log(res)
        if(res.estado){
            window.location.href = '/publicacion'
        }else{
            console.log(res)
        }
    } catch (error) {
        console.log(error)
    }
  })
</script>