<%- include("template/cabecera" , {tituloWeb: 'Pagina de Publicaciones'})  %>  
    <body>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Description</th>
                    <th>Accion</th>
                </tr>
                </thead>
                <tbody>
                    <% if (arrayPublicaciones.length > 0) { %>
                        <% arrayPublicaciones.forEach(publicacion => { %>
                           <tr>
                               <td><%= publicacion.titulo %></td>
                               <td><%= publicacion.descripcion %></td>
                               <td>
                                    <button
                                            class="btnEdit">
                                            <a href="/<%= publicacion.id %>">
                                            Edit
                                            </a>
                                    </button>
                               </td>
                           </tr>
                        <% }) %>
                       <% } %>
                </tbody>
            </table>
                <button class="submit" type="submit"><a href="/crear">Publica algo</a></button>
        </div>
        <%- include("template/footer") %>  