<%- include("template/cabecera" , {tituloWeb: 'Pagina de Publicaciones'})  %>  
    <body>
        
        <div class="container">
            <div class="create-post">
                <div class="username-pic">
                <img src="https://res.cloudinary.com/dweiaqd6l/image/upload/v1663791923/imagen_2022-09-21_172521344_pnjfey.png" alt=""></div>
                <input type="text" name="" placeholder="Publish" id="">
                <button class="submit" type="submit"><a href="/crear">Post</a></button>
            </div>
            <article>
                     <% if (arrayPublicaciones.length > 0) { %>
                        <% arrayPublicaciones.forEach(publicacion => { %>
                            <div class="post">
                               <h1><%= publicacion.titulo %></h1>
                               <p class="descr"><%= publicacion.descripcion %></p>
                               <div>
                                    <button
                                            class="btnEdit">
                                            <a href="/<%= publicacion.id %>">
                                            Edit
                                            </a>
                                    </button>
                                </div>
                            </div>
                                <div class="space"></div>
                        <% }) %>
                       <% } %>
            </article>
        </div>
        <%- include("template/footer") %>  