<%- include("template/cabecera" , {tituloWeb: 'Pagina de Publicaciones'})  %>  
    <body>
        
        <div class="container">
            <button class="submit" type="submit"><a href="/crear">Publica algo</a></button>
            <article>
                     <% if (arrayPublicaciones.length > 0) { %>
                        <% arrayPublicaciones.forEach(publicacion => { %>
                            <div class="post">
                               <h1><%= publicacion.titulo %></h1>
                               <p><%= publicacion.descripcion %></p>
                               <div>
                                    <button
                                            class="btnEdit">
                                            <a href="/<%= publicacion.id %>">
                                            Edit
                                            </a>
                                    </button>
                                </div>
                            </div>
                                <div class="space"></div>
                        <% }) %>
                       <% } %>
            </article>
        </div>
        <%- include("template/footer") %>  