<%- include("template/cabecera" , {tituloWeb: 'Pagina de Publicaciones'})  %>  
    <body>
        <div class="container">
            <table class="table">
                <thead>
                    <tr scope="col">id</tr>
                    <tr scope="col">Titulo</tr>
                    <tr scope="col">Descripcion</tr>
                </thead>
                <tbody>
                    <% if (arrayPublicaciones.length > 0) { %>
                     <% arrayPublicaciones.forEach(publicacion => { %>
                        <tr>
                            <th scope="row"><%= publicacion.id %></th>
                            <td><%= publicacion.Titulo %></td>
                            <td><%= publicacion.Descripcion %></td>
                        </tr>
                     <% }) %>
                    <% } %>
                   
                </tbody>
            </table>
           
        </div>
        <%- include("template/footer") %>  