<%- include("template/cabecera" , {tituloWeb: 'Pagina de Publicaciones'})  %>  
    <body>
        <div class="container">
            <a href="/publicacion/crear">
                <button type="submit">Publica algo</button>
            </a>
            <table class="table">
                <thead>
                    <tr><td>Id</td></tr>
                    <tr><td>Titulo</td></tr>
                    <tr><td>Descripcion</td></tr>
                </thead>
                <tbody>
                    <% if (arrayPublicaciones.length > 0) { %>
                     <% arrayPublicaciones.forEach(publicacion => { %>
                        <tr>
                            <th scope="row"><%= publicacion.id %></th>
                            <td><%= publicacion.titulo %></td>
                            <td><%= publicacion.descripcion %></td>
                        </tr>
                     <% }) %>
                    <% } %>
                   
                </tbody>
            </table>
           
        </div>
        <%- include("template/footer") %>  