<%- include("template/cabecera")  %>  
    <body>
        
        <div class="container">
            <div class="create-post-publicacion" onclick="location.href = '/create'">
                <form class="form-good-publicacion"> 
                    <img src="https://res.cloudinary.com/dweiaqd6l/image/upload/v1663791923/imagen_2022-09-21_172521344_pnjfey.png" alt="">
                    <input type="text" name="titulo"
                    placeholder="Title">
                    <button type="submit" class="submit"> Post</button>
                </form>
            </div>
            <div class="sort-by">
                <button onclick="location.href='/'"><i class="fa-solid fa-rocket"></i> Newest</button>
                <button onclick="location.href='/old'"><i class="fa-solid fa-person-cane"></i> Oldest</button>
            </div>
            <article id="arrayPubli">
                     <% if (arrayPublicaciones.length > 0) { %>
                        <% arrayPublicaciones.forEach(publicacion => { %>
                            <div class="post">
                               <h1><%= publicacion.titulo %></h1>
                               <p>Made by <strong>
                                <% if (publicacion.username === "") { %>
                                 Anon
                                <% } %>
                                <% if (publicacion.username != "") { %>
                                    <%= publicacion.username %>
                                <% } %>
                               </strong></p>
                               <p class="descr"><%= publicacion.descripcion %></p>
                               <div class="orderInRoom">
                                    <button
                                            class="btnEdit" onclick="location.href='/<%= publicacion.id %>'">
                                            Edit
                                    </button>
                                </div>
                            </div>
                                <div class="space"></div>
                        <% }) %>
                       <% } %>
            </article>
        </div>
        <%- include("template/footer") %>  